<!DOCTYPE html>
<html>
<head>
	<title>通讯录</title>
</head>

<style type="text/css">
table.dataintable {
   border: 1px solid #888888;
   border-collapse: collapse;
   font-family: Arial,Helvetica,sans-serif;
   margin-top: 10px;
   width: 100%;
}
table.dataintable th {
   background-color: #CCCCCC;
   border: 1px solid #888888;
   padding: 5px 15px 5px 5px;
   text-align: left;
   vertical-align: baseline;
}
table.dataintable td {
   background-color: #EFEFEF;
   border: 1px solid #AAAAAA;
   padding: 5px 15px 5px 5px;
   vertical-align: text-top;
}
</style>

<body>
<h1>删除联系人</h1>
<p><input id="delete" type="button" value="删除联系人" onclick="static_num()" /></p>
<table class="dataintable">
	<tr>
		<th width="1%"><input type="checkbox" id='0' /></th>
		<th width="10%">姓名</th>
		<th width="15%">电话</th>
		<th width="35%">地址</th>
	    <!-- <th>其它</th> -->
		<th width="17%">更新时间</th>
	</tr>
	<tr>
		{% for each in messageuser %}
				<tr>
					<td><input type="checkbox" name='select' id={{ each.pk }} ></td>
					<td><a href="{{ each.pk }}/detail">{{ each.Name }}</a></td>
					<td>{{ each.PhoneNum }}</td>
					<td>{{ each.Address }}</td>
		         <!-- <td id='other'>{{ each.Other }}</td> -->
					<td>{{ each.UpdateTime }}</td>    
				</tr>

		{% endfor %}
	</tr>
</table>

</body>

<script>
	function static_num()
	{
		document.getElementById('delete').onclick=function()
		{
			var arr = new Array();
			var items=document.getElementByName('select');
			for(i=0;i<items.length;i++)
			{
				if(items[i].checked)
				{
					arr.push(items[i].value);
				}
			}
			alert('选择的个数为：'+arr.length);
		};
	};
</script>

</html>